html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Merriweather,'Arial',Arial,sans-serif;
}


a {
    color: #F7B75F;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #F5A623;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.5;
}


.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #f05f40;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #F5A623;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #F5A623!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        /*border-color: rgba(255,255,255,.3);*/
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7) !important;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
        color: #555;
        background-color: transparent;
    }
    .navbar-nav > li > .dropdown-menu { background-color: #E0CD93; }
    .navbar-nav > li > .dropdown-menu a:hover{
        background-color: #EEAF3E;
    }

    .dropdown-menu .divider {
        background-color: #EEAF3E;
    }

}

.icon-bar {
    background-color: #EB3812 !important;
}


header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 237px 15px;
    text-align: center;
    min-height: auto;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    /*text-transform: uppercase;*/
    /*font-weight: 700;*/
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 300;
    /*color: rgba(255,255,255,.7);*/
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 30px;
    }
}

.section-heading {
    margin-top: 0;
}


.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #f05f40;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}



.btn-titan {
    border-color: #F5A623;
    color: #fff;
    background-color: #F5A623;
    /*padding-bottom: 30px;*/
    font-size: 20px;
    /*border-radius: 4px;*/
}



::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #F6A110 !important;
    border-color: #FFF;
}

.page-scroll{
    margin-top: 20px;
}


/*LOGIN, SIGNUP MODAL*/
.mainform{
    margin: 50px;
}

.fbjoin{
margin-bottom: 20px;
/*text-align: center;*/
}

.fbjoin a{
    /*width: 70%;*/
    margin-left: 10%;
}

.fbjoin img{
    margin-bottom: 5px;
    margin-top: 5px;
    width: 40px;
}

.joinform, .fbjoin{
    background-color: transparent;
    border: 1px solid;
    border-radius: 0px;
    border-color: #979797;
    /*width: 70%;*/
    left: 10%;
}

.joinform img{
    margin-bottom: 5px;
    margin-top: 10px;
    width: 35px;
    margin-left: 10%;
}

.joinform textarea:focus, input:focus{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    /*border-color: transparent !important;*/
}

.joinform input{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    margin-top: 20px;
    position: relative;
    left: 10%;
    width: 80%;
}

.jointext p{
    font-size: 10px;
}


.nav .navbar-nav{
    font-size: 20px !important;
}

.avatar{
    width: 60px;
    height: 60px;
    border-radius: 150px;
    border:3px solid;
    margin-top: -18px;
}


/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 500px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;

}

.loginmodal-container input[type=submit] {
  width: 20%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
  margin-right: right;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 20px;
  font-size: 14px;
  width: 80%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #979797;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.loginmodal-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #7AA04D;
  padding: 6px 0px;
  font-size: 14px;
}

.loginmodal-submit:hover {
 color: #F6A110;
}


.login-help{
  font-size: 12px;
}


.searchcriteria{
    text-align: center;
    font-size: 12px;
    background-color: #F8F8F8;
}
.searchcriteria, .features{
    color: #F5A532;  
}

.searchcriteria i, .features i{
    color: #111;  
}

.searchcriteria .col-sm-6, .searchcriteria .col-xs-12{
    margin-bottom: 6px;
}

/* SEARCH FILTER DIVIDER*/

.leftspan
{
padding-right:20px;
border-right: 1px solid #729A42;
}

.row-fluid .rightspan {
margin-left: -0.11%;
*margin-left: -0.11%;
padding-left:20px;
border-left: 1px solid #729A42;
}

.row-fluid .rightspan:first-child {
margin-left: -0.11063829787234%;
*margin-left: -0.104255319148938%;
}

#resultheader{
    background-color: #518215;

}
.fleft{
    width:49%;
    float:left;
    margin-right:3px;
    margin-bottom: 2px;
    padding-top: 20px;
}
.dropdowncust{
    border-color: #6E6E6E !important;
    border-radius: 0px !important;
    height: 25px !important;
    padding: 4px 12px !important;
    font-size: 12px !important;
    color: #F7AC42 !important;
}

.filterbox,.filterbox:focus {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px !important;
    margin: 0px auto !important;
    border-color: #979797 !important;
    height: 25px !important;
    padding: 4px 12px !important;
    font-size: 12px !important;

}

.form-control:focus{
    border-color: #F5A950;
}

/*Homapeg Search box*/

.searchbox {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    margin: 0px auto;
    padding: 12px;
}

.searchbox .panel{
    margin-bottom: 0px !important;
    background-color: transparent !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.searchbox .send{
    border: 1px solid;
    border-radius: 0px;
    border-color: #979797;
} 

.nav-tabs{
    /*background-color: #fff;*/
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center !important;
}

.nav-tabs li{
/*    margin-right: 4px;*/  
    background-color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


.nav-tabs > li.active, .nav-tabs > li.active a {
    background-color: #FFE1AF !important;
}

.nav-tabs > li.active a {
    text-align: center;
}

.tab-pane ,.nav-tabs > a, .tabsearch input{
    background-color: #FFE1AF !important;
}

.tab-pane {
    padding: 10px;
}

.panel-heading2{
    font-size: 14px;
}

.tab-pane{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}



/*SEARCH RESULT PAGE*/

.offer{
    /*background:#fff; */
    /*border:1px solid #ddd; */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    margin-bottom: 5px; 
    overflow:hidden;
    color: #111;
    background-image: url('../img/property2.jpg');
    background-size: 100%;
    border-color: transparent;
    height: 190px;

}



.offer:hover {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform:rotate scale(1.1); 
    -webkit-transition: all 0.4s ease-in-out; 
    -moz-transition: all 0.4s ease-in-out; 
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;


}


.user-avatar{    
    border-style: solid; 
    border-width: 0 70px 40px 0; 
    float:left; 
    height: 0px; 
    width: 0px;
    border-color: transparent;
    margin: 4px;


}

.avatar-text{
    width: 60px;
    height: 60px;
    border-radius: 150px;
    border:2px solid;
    /*margin-top: -18px;*/
    background-size: 100%;
    border-color: #fff;

} 

.shape{    
    border-style: solid; 
    border-width: 0 70px 40px 0; 
    float:right; 
    height: 0px; 
    width: 0px;
    border-color: transparent;
}

.shape-text{
    color:#fff; 
    font-size:12px; 
    font-weight:bold; 
    position:relative; 
    right:-35px; 
    top:7px; 
    white-space: nowrap;
    border-color: transparent;
}


.user-icon{    
    border-style: solid; 
    border-width: 0 70px 40px 0; 
    /*float:left; */
    height: 0px; 
    width: 0px;
    position: relative;
    bottom: 0;
    border-color: transparent;

}

.user-icon-text{

    color:#fff; 
    font-size:12px; 
    /*font-weight:bold; */
    position:absolute; 
    /*right:-40px; */
    top:150px; 
    white-space: nowrap;
    border-color: transparent;
    margin-left: 15px;
}


.rent-icon{    
    border-style: solid; 
    border-width: 0 70px 40px 0; 
    /*right:-270px; */
    left: 55%;
    height: 0px; 
    width: 0px;
    position: relative;
    bottom: -115px;
    border-color: transparent;
}

.rent-text{
    color:#fff; 
    /*font-size:12px; */
    /*font-weight:bold; */
    /*position:absolute; */
    /*right:-40px; */
    /*top:2px; */
    white-space: nowrap;
    border-color: transparent;
}

.place-icon{    
    border-style: solid; 
    border-width: 0 70px 40px 0; 
    left:35%; 
    height: 0px; 
    width: 0px;
    position: relative;
    bottom: 0;
    border-color: transparent;
}

.place-text{
    color:#fff; 
    /*font-size:12px; */
    /*font-weight:bold; */
    position:absolute; 
    /*right:-40px; */
    top:75px; 
    white-space: nowrap;
    border-color: transparent;
}

/*parking style*/
.prent-icon{    
    border-style: solid; 
    border-width: 0 70px 40px 0; 
    /*right:-270px; */
    left: 55%;
    height: 0px; 
    width: 0px;
    position: relative;
    bottom: -145px;
    border-color: transparent;
}

.prent-text{
    color:#fff; 
    /*font-size:12px; */
    /*font-weight:bold; */
    /*position:absolute; */
    /*right:-40px; */
    /*top:2px; */
    white-space: nowrap;
    border-color: transparent;
}

.pplace-icon{    
    border-style: solid; 
    border-width: 0 70px 40px 0; 
    left:5%; 
    height: 0px; 
    width: 0px;
    position: relative;
    bottom: -35px;
    border-color: transparent;
}

.pplace-text{
    color:#fff; 
    /*font-size:12px; */
    /*font-weight:bold; */
    position:absolute; 
    /*right:-40px; */
    top:75px; 
    white-space: nowrap;
    border-color: transparent;
}



.offer-content{
    padding:0 20px 10px;
}



/*SINGLE PROPERTY DETAILS*/
.feature-info{
    font-size: 12px;
}

.property-info table{
    width: 100%;
}

.feature-info tr > td  
{
  padding-bottom: 5px;
}

.property-image-slider img{
    width: 100%;
    height: 250px;
}

.property-details h3{
    color: #F5A532;  
}

.property-details p{
   font-size: 12px; 
}
.agent-chat{
    margin-top: 10px;
}



/*PROFILE*/


.bkimg img{
    width: 100%;
    height: 200px;
}

.userimg,.userdetails{
    top: -155px;
    color: #fff;
    margin-bottom: -45px;
}

.userdetails i{
    margin-right: 15px;

}


.userimg img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid;
}


.preferences{
    font-size: 20px;
}



.details{
    top:-40%;
}

.user-info{
    background-color: #FFEBCA;
    border-radius: 10px;
    border: 1px solid rgb(151,151,151);
    margin-top: 2px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;    
}

.user-info p{
    font-size: 12px;
}

.user-info hr{
    border-color: rgb(90,88,89);
    border-width: 2px 0px 0px;
}

.user-info table{
    padding-right: 10px;
}

.user-info .optn{
    color: #FDB65C;
}



.navbar-right .dropdown-menu {
    right: -30px;
    left: auto;
}
.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 50%;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 50%;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #E0CD93;
  border-left: 6px solid transparent;
  content: '';
}


.searchform{
    padding-top: 18px;
}


.searchform input {
    border: 1px solid #979797;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    background-color: #C5D5B0;
}

/*ROOMMATE SEARCH*/
.roommates{
    background-color: #FDEDD3;
    height: 230px;
    margin-bottom: 10px;
    width: 100%;
}

.roommate_image{
    padding-top: 45px;
}

.roommate_image img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid #A1A09E;
}

.roommate_rating{
    background-color: #fff;
    /*padding: 60px;*/
    top: 3%;
    height: 215px;
    text-align: center;
    /*width: 210px;*/
    right: 1%;
}

.roommate_rating .rat{
    color:#F5A826;
    margin-bottom: 20px;
}

.ratingtext{
    margin-top: 30%;
}

/*BUTTONS*/
.btn-chat { 
  color: #FFFFFF; 
  background-color: #518215; 
  border-color: #518215;
  font-size: 16px;
  border-radius: 7px !important; 
} 
 
.btn-chat:hover, 
.btn-chat:focus, 
.btn-chat:active, 
.btn-chat.active, 
.open .dropdown-toggle.btn-chat { 
  color: #FFFFFF !important; 
  background-color: #518215; 
  border-color: #518215; 
} 
 
.btn-chat:active, 
.btn-chat.active, 
.open .dropdown-toggle.btn-chat { 
  background-image: none; 
} 
 
/*END BUTTONS*/

@media (max-width: 768px){
    .roommates{
    background-color: #FDEDD3;
    height: 250px;
    margin-bottom: 10px;
    width: 100%;
}

.roommate_image{
    padding-top: 45px;
}

.roommate_image img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #A1A09E;
}

.roommate_rating{
    background-color: #fff;
    top: 4%;
    height: 230px;
    text-align: center;
    right: 1%;
}

.roommate_rating .rat{
    color:#F5A826;
    margin-top: 30%;
}

.ratingtext{
    margin-top: 30%;
}

.btn-chat-roommate,.btn-chat-roommate:focus{
    border-color: #518215;
    color: #fff;
    background-color: #518215;
    font-size: 14px;
    border-radius: 12px !important;
    width: 100%;

}
}
@media (max-width: 480px){
.roommates{
    height: 688px;
}

.roommate_image{
    padding-top: 45px;
    left: 13%;
}



.roommate_rating{
    left: 2%;
    width: 95% !important;
}

}

/*MESSAGE MODAL*/

.modal-header {
    padding-bottom: 5px;
    border-bottom: 0px solid #E5E5E5 !important;
}

.modal-footer {
        padding: 0;
    }

.modal-content{
    border-radius: 0px !important;
}

.modal-body{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
}


#message{
    border-radius: 0px;
    border: 1px solid #5A5859;
}

.modal-footer{
    padding: 45px !important;
}


.confirmationMessage{
    text-align: center;
}

/*MY PROPERY*/
.property_count{
    border: 1px solid #979797;
    background-color: #F4F4F4;
    padding: 12px;
    width: 98%;
    text-align: center;

}
.property{
    background-color: #FDEDD3;
    margin-right: 2px;
    margin-bottom: 10px;
}

.property_image img{
    width: 100%;
    position: relative;
}

.editbtn{
    position: absolute;
    right: 7%;
    top: 3%;
}

.property_info {
    padding: 20px;
}

.property_info table{
    width: 100%;
    margin-left: 7%;
}

.property_info .renter {
    text-align: center;
    text-decoration: underline;
    margin-left: 25%;
}

.property_info button{
    margin-left: 40%;
}


.propertyedit button{
    margin: 2px;

}

/*PROFIT and LOSS*/

.profit{
    padding: 12px;
    text-align: center;
}

.profitinfo{
    background-color: #F4F4F4;
}

.profitinfo table{
    width: 100%;

}

.profitinfo #noborderbottom{
    border-bottom: 0px !important;
}

.profitinfo #noborder{
    border: 0px;
}

.profitinfo td{
    padding: 1px;
}

.profitinfo tr{
    padding: 20px;
}

.profitinfo th,tr,td{
    border: 2px solid #9F9F9F;
    border-top: 0px;
    border-left: 0px;
}
